<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <style>
    {{{css}}}
  </style>
</head>
<body>
  <div class="main">
    <section class="sidebar">
      <div class="header">
        {{#if logo}}
        <img class="logo" src="{{logo}}" />
        {{/if}}
        <h1>{{name}}</h1>
        <span>{{version}}</span>
      </div>

      <ul class="menu">
        {{#each pages}}
        {{#if children}}
        <li>
          <a href="#{{slug}}">{{title}}</a>
          <ul>
            {{#each children}}
            <li><a href="#{{slug}}">{{title}}</a></li>
            {{/each}}
          </ul>
        </li>
        {{else}}
        <li><a href="#{{slug}}">{{title}}</a></li>
        {{/if}}
        {{/each}}
      </ul>

      <input class="search-input hide" placeholder="search"></input>
    </section>

    <section class="content">
      <div class="tools hide">
        <button class="toggle-sidebar">☰</button>
        <button class="toggle-light">
          <div class="raindrop icon"></div>
        </button>
        <button class="previous-page"><</button>
        <button class="next-page">></button>
      </div>

      {{#each pages}}
      <div class="page" id="{{slug}}">
        <h1 class="heading">{{title}}</h1>
        {{{content}}}
      </div>

      {{#each children}}
      <div class="page" id="{{slug}}">
        <h1 class="heading">{{title}}</h1>
        {{{content}}}
      </div>
      {{/each}}
      {{/each}}
    </section>
  </div>
  <script>
    {{{javascript}}}
  </script>
</body>
</html>
